.tab-wrap {
    display: flex;
    flex-wrap: wrap;
}

.tab-label {
    color: White;
    background: LightGray;
    margin-right: 5px;
    padding: 3px 12px;
    order: -1;
}

.tab-content {
    width: 100%;
    display: none;
}

/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    background: DeepSkyBlue;
}

.tab-switch:checked+.tab-label+.tab-content {
    display: block;
}

/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}

#menu {
    z-index: 1;
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: #ff7400;
    position: relative;
}

#menu li {
    width: 33%;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu li a {
    width: auto;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 12px 0;
    text-decoration: none;
    display: block;
}

#menu li a:hover {
    background: #ffa443;
}

#menu span.remark {
    display: none;
}

#menu a:hover span.remark {
    background: none repeat scroll 0 0 #EEFFEE;
    border: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    top: 50px;
    width: 12em;
}

.overflow-div {
    width: 800px;
    height: 300px;
    border: solid 1px;
    overflow: scroll;
}