<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main-lite.css">
    <title>Template - Minori</title>
</head>

<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="header-content">
                <div class="header-title"><a href="/">Minori</a></div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section">
            <div class="section-contant"></div>
        </div>
    </div>
</body>

</html>